
/*
@ipad-pro-landscape-breakpoint: ~"(min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1366px) and (max-width: 1366px)";*/
/*---------------------------------------------------------------
	GENERALS
----------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
section .title {
  display: block;
}
section .more {
  position: absolute;
}
section a.link {
  display: inline-block;
  font-family: fantasy;
  font-size: 25px;
  padding: 3px 12px 5px 12px;
  text-transform: uppercase;
  cursor: pointer;
  background: DodgerBlue;
  /* Old browsers */
  background: -moz-linear-gradient(top, DodgerBlue 0%, Blue 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, DodgerBlue 0%, Blue 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, DodgerBlue 0%, Blue 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='DodgerBlue', endColorstr='Blue', GradientType=0);
  /* IE6-9 */
}
@media (max-width: 480px) {
  section a.link {
    font-size: 15px;
    padding: 4px 8px;
  }
}
section a.link:hover,
section a.link:visited,
section a.link:focus,
section a.link:active {
  color: white;
  text-decoration: none;
}
section a.link i {
  background: url('../img/ico-plus.svg') 0 0 no-repeat;
  background-size: 30px;
  width: 29px;
  height: 29px;
  display: inline-block;
  margin-right: 12px;
  vertical-align: bottom;
}
@media (max-width: 480px) {
  section a.link i {
    background-size: 18px;
    width: 17px;
    height: 17px;
    margin-right: 8px;
  }
}
/*---------------------------------------------------------------
	HEADER & MENU
----------------------------------------------------------------*/
#header {
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
#header .container {
  position: relative;
}
#header .menu-btn {
  position: absolute;
  top: 32px;
  right: 0;
  margin-right: 14px;
  cursor: pointer;
  border: 1px solid white;
  background: black;
  display: inline-block;
  padding: 6px 8px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
@media (max-width: 480px) {
  #header .menu-btn {
    top: 22px;
  }
}
#header .menu-btn .line {
  background-color: #fff;
  height: 2px;
  width: 24px;
  display: block;
  right: 0;
  margin: 5px 0;
}
a.logo {
  float: left;
  display: block;
  width: 100px;
  height: 100px;
  text-indent: -999em;
  overflow: hidden;
  position: relative;
  z-index: 84;
}
@media (max-width: 480px) {
  a.logo {
    width: 72px;
    height: 72px;
    z-index: 22;
  }
}
a.logo.logo-n10 {
  background: url('../images/logo-n10.svg') 0 0 no-repeat;
  margin-right: 20px;
}
a.logo.logo-n10xtnd {
  background: url('../images/logo-n10xtnd.svg') 0 0 no-repeat;
}
nav.menu-overlay .left {
  float: left;
  width: 50%;
}
@media (max-width: 480px) {
  nav.menu-overlay .left {
    width: 100%;
  }
}
nav.menu-overlay .right {
  float: right;
  width: 50%;
}
@media (max-width: 480px) {
  nav.menu-overlay .right {
    width: 100%;
  }
}
nav.menu-overlay .right .infos {
  text-align: right;
  display: inline-block;
  width: 178px;
}
@media (max-width: 768px) {
  nav.menu-overlay .right .infos {
    text-align: left;
    display: block;
    padding-left: 22%;
    width: 344px;
  }
}
@media (max-width: 480px) {
  nav.menu-overlay .right .infos {
    padding-left: 10%;
  }
}
nav.menu-overlay .right h2 {
  font-family: 'Geogrotesque-SemiBold', Arial, Helvetica, sans-serif;
  color: DodgerBlue;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
@media (max-width: 480px) {
  nav.menu-overlay .right h2 {
    font-size: 20px;
  }
}
nav.menu-overlay .right p {
  font-family: 'Geogrotesque-Regular', Arial, Helvetica, sans-serif;
  font-size: 20px;
}
@media (max-width: 480px) {
  nav.menu-overlay .right p {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
nav.menu-overlay .right p.line {
  width: 178px;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  text-transform: uppercase;
}
nav.menu-overlay .right p.line a {
  display: block;
  text-decoration: none;
}
nav.menu-overlay .right p.line a:hover {
  text-decoration: none;
}
nav.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
nav.menu-overlay .menu-close {
  top: 32px;
  right: 14px;
  height: 40px;
  width: 42px;
  background: black;
  position: absolute;
  cursor: pointer;
  padding: 7px 8px;
  border: 1px solid white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
@media (max-width: 480px) {
  nav.menu-overlay .menu-close {
    top: 22px;
  }
}
nav.menu-overlay .menu-close .close-rotate {
  height: 30px;
  width: 30px;
  position: absolute;
  transition: transform 0.4s ease 0s;
  -moz-transition: transform 0.4s ease 0s;
  -webkit-transition: transform 0.4s ease 0s;
  -o-transition: transform 0.4s ease 0s;
}
nav.menu-overlay .menu-close .menu-line {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #fff;
  display: block;
  height: 2px;
  width: 25px;
  position: absolute;
  margin-top: 11px;
}
nav.menu-overlay .menu-close .menu-line:first-child {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
nav.menu-overlay .menu-bg {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 700ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: opacity 700ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 700ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-transition-delay: 400ms;
  -moz-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 81;
  width: 100%;
  height: 100%;
}
nav.menu-overlay .menu-bg .menu-bg-overlay-dark {
  float: left;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 768px) {
  nav.menu-overlay .menu-bg .menu-bg-overlay-dark {
    display: none;
  }
}
nav.menu-overlay .menu-bg .menu-bg-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 768px) {
  nav.menu-overlay .menu-bg .menu-bg-overlay {
    background-color: rgba(0, 0, 0, 0.88);
  }
}
nav.menu-overlay .menu-container {
  position: relative;
  z-index: 102;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: left;
  display: inline-block;
}
nav.menu-overlay .menu-container ul.categories,
nav.menu-overlay .menu-container ul.onepage-pagination {
  margin: 0;
  width: 100%;
  display: inline-block;
  list-style: disc;
  text-align: left;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  nav.menu-overlay .menu-container ul.categories,
  nav.menu-overlay .menu-container ul.onepage-pagination {
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  nav.menu-overlay .menu-container ul.categories,
  nav.menu-overlay .menu-container ul.onepage-pagination {
    margin-top: 20px;
  }
}
nav.menu-overlay .menu-container ul.categories li,
nav.menu-overlay .menu-container ul.onepage-pagination li {
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 500;
  margin: 0 0 0px;
  padding: 0;
}
nav.menu-overlay .menu-container ul.categories li a,
nav.menu-overlay .menu-container ul.onepage-pagination li a {
  display: block;
  color: white;
  font-size: 41px;
  font-family: fantasy, Arial, Helvetica, sans-serif;
  padding: 16px 0;
  padding-left: 36%;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  nav.menu-overlay .menu-container ul.categories li a,
  nav.menu-overlay .menu-container ul.onepage-pagination li a {
    padding: 14px 0;
    padding-left: 22%;
  }
}
@media (max-width: 768px) {
  nav.menu-overlay .menu-container ul.categories li a,
  nav.menu-overlay .menu-container ul.onepage-pagination li a {
    padding: 10px 0;
    padding-left: 12%;
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  nav.menu-overlay .menu-container ul.categories li a,
  nav.menu-overlay .menu-container ul.onepage-pagination li a {
    padding: 4px 0;
    padding-left: 10%;
    font-size: 22px;
    letter-spacing: 3px;
  }
}
nav.menu-overlay .menu-container ul.categories li a:hover,
nav.menu-overlay .menu-container ul.onepage-pagination li a:hover,
nav.menu-overlay .menu-container ul.categories li a:active,
nav.menu-overlay .menu-container ul.onepage-pagination li a:active,
nav.menu-overlay .menu-container ul.categories li a.is-active,
nav.menu-overlay .menu-container ul.onepage-pagination li a.is-active {
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.03) 0%, blue 43%, DodgerBlue 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.03) 0%, blue 43%, DodgerBlue 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.03) 0%, blue 43%, DodgerBlue 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08ffffff', endColorstr='@main-color', GradientType=1);
  /* IE6-9 */
  text-decoration: none;
  color: white;
}
nav.menu-overlay .menu-container ul.categories li.active a,
nav.menu-overlay .menu-container ul.onepage-pagination li.active a {
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.03) 0%, blue 43%, DodgerBlue 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.03) 0%, blue 43%, DodgerBlue 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.03) 0%, blue 43%, DodgerBlue 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08ffffff', endColorstr='@main-color', GradientType=1);
  /* IE6-9 */
  text-decoration: none;
  color: white;
}
nav.menu-overlay .menu-container .language-menu {
  margin-left: 80px;
}
@media (max-width: 768px) {
  nav.menu-overlay .menu-container .language-menu {
    float: left;
    margin-left: 22%;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  nav.menu-overlay .menu-container .language-menu {
    margin-left: 0;
    padding-left: 10%;
  }
}
nav.menu-overlay .menu-container .language-menu a {
  font-family: 'Geogrotesque-SemiBold', Arial, Helvetica, sans-serif;
  font-size: 20px;
  vertical-align: middle;
}
nav.menu-overlay .menu-container .language-menu a:hover {
  text-decoration: none;
}
nav.menu-overlay .menu-container .outer {
  display: table;
  width: 100%;
  height: 100%;
}
nav.menu-overlay .menu-container .outer .inner {
  display: table-cell;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
@media (max-width: 480px) {
  nav.menu-overlay .menu-container .outer .inner {
    vertical-align: top;
  }
}
nav.menu-overlay .menu-container .outer .inner .scr_menu {
  overflow-x: hidden;
}
nav.menu-overlay .menu-container .outer .inner .scr_menu .inner {
  padding: 0;
}
nav.menu-overlay.is-active {
  opacity: 1;
}
nav.menu-overlay.is-active .menu-bg {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: opacity 500ms cubic-bezier(0.455, 0.03, 0, 1);
  -moz-transition: opacity 500ms cubic-bezier(0.455, 0.03, 0, 1);
  -o-transition: opacity 500ms cubic-bezier(0.455, 0.03, 0, 1);
  transition: opacity 500ms cubic-bezier(0.455, 0.03, 0, 1);
}
.list-nav-social {
  position: relative;
  width: 186px;
  float: right;
}
@media (max-width: 768px) {
  .list-nav-social {
    float: left;
    width: 198px;
  }
}
@media (max-width: 480px) {
  .list-nav-social {
    width: 250px;
    margin: 0;
  }
}
.list-nav-social li {
  float: left;
  margin: 5px 0px 15px 22px;
  height: 40px;
}
@media (max-width: 768px) {
  .list-nav-social li {
    margin: 5px 10px 5px 0px;
  }
}
.list-nav-social li a {
  display: inline-block;
  position: relative;
  padding: 0;
  cursor: pointer;
  font-size: 0;
  overflow: hidden;
  text-indent: -9999em;
  text-align: left;
}
.list-nav-social li a {
  width: 40px;
  height: 40px;
  background-image: url(../images/nav-sprite.svg);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media (max-width: 480px) {
  .list-nav-social li a {
    width: 30px;
    height: 30px;
    background-size: 29px;
  }
}
.list-nav-social li a.instagram {
  background-position: 1px -119px;
}
@media (max-width: 480px) {
  .list-nav-social li a.instagram {
    background-position: 1px -86px;
  }
}
.list-nav-social li a.facebook {
  background-position: 1px 0px;
}
@media (max-width: 480px) {
  .list-nav-social li a.facebook {
    background-position: 1px 1px;
  }
}
.list-nav-social li a.tweeter {
  background-position: 1px -62px;
  background-size: 44px;
}
@media (max-width: 480px) {
  .list-nav-social li a.tweeter {
    background-position: 1px -45px;
    background-size: 32px;
  }
}
.list-nav-social li a.linkedin {
  background-position: 1px -178px;
}
@media (max-width: 480px) {
  .list-nav-social li a.linkedin {
    background-position: 1px -129px;
  }
}
.list-nav-social li a.pinterest {
  background-position: 0 -238px;
}
@media (max-width: 480px) {
  .list-nav-social li a.pinterest {
    background-position: 1px -172px;
  }
}
.list-nav-social li a.youtube {
  background-position: 0 -298px;
}
@media (max-width: 480px) {
  .list-nav-social li a.youtube {
    background-position: 1px -214px;
  }
}
#radio {
  float: right;
  display: block;
  width: 55px;
  height: 55px;
  margin: 4px 0 0 40px;
  
}
@media (max-width: 768px) {
  #radio {
    float: left;
    margin: 4px 40px 0 0;
  }
}
@media (max-width: 480px) {
  #radio {
    background-size: 40px;
    width: 40px;
    height: 40px;
  }
  #radio:hover {
    background-size: 40px;
    width: 40px;
    height: 40px;
  }
}
/*---------------------------------------------------------------
	LAYOUT MOBILE
----------------------------------------------------------------*/
body.mobile {
  height: 100%;
}
body.mobile section {
  position: relative;
  height: 100%;
  width: 100%;
}
body.mobile section .bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
body.mobile section .top {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
#mobile-not-x {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1000px;
  background-color: #000;
  z-index: 9999;
}
@media (max-height: 480px) {
  #mobile-not-x {
    display: block;
  }
}
#mobile-not-x .container {
  position: relative;
  width: 250px;
  margin: -210px auto 0 auto;
  top: 23%;
}
@media (max-height: 340px) {
  #mobile-not-x .container {
    width: 380px;
  }
}
#mobile-not-x .pre-logo {
  position: relative;
  width: 212px;
  height: 212px;
  margin: 0 auto;
}
#mobile-not-x .pre-logo .logo-num10 {
  padding: 20px;
}
#mobile-not-x .img-circle {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: circleAnim 2s infinite linear;
  -moz-animation: circleAnim 2s infinite linear;
  -o-animation: circleAnim 2s infinite linear;
  -ms-animation: circleAnim 2s infinite linear;
  animation: circleAnim 2s infinite linear;
}
#mobile-not-x .pre-text {
  position: relative;
  color: #fff;
  text-align: center;
  font-family: Geogrotesque-MediumIt, 'Trebuchet MS', sans-serif;
  font-size: 23px;
  line-height: 24px;
  text-transform: uppercase;
}
#mobile-not-x .pre-text p {
  margin: 0;
  padding: 15px 0 15px 0;
}
#mobile-not-x .hint {
  font-size: 16px;
}
@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes circleAnim {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(-360deg);
  }
}
@-o-keyframes circleAnim {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(-360deg);
  }
}
@-ms-keyframes circleAnim {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
  }
}
@keyframes circleAnim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.indent-texte {
  text-indent: -999999em;
}
/* scene 1 + animations */
body.mobile section#home {
  background-position: 74% 40%;
  background-image: url(../img/home-machine.png);
  background-repeat: no-repeat;
  background-size: auto 94%;
  height: 100%;
}
@media (max-width: 768px) {
  body.mobile section#home {
    background-position: 10% 88%;
    background-size: auto 78%;
  }
}
@media (max-width: 480px) {
  body.mobile section#home {
    background-position: 8% 90%;
    background-size: auto 80%;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#home {
    background-position: 24% 40%;
  }
}
body.mobile section#home .more {
  top: 170px;
  left: 6%;
  width: 370px;
  opacity: 0;
  -webkit-transition: opacity 1.6s;
  -webkit-transition-delay: 0.6s;
  -moz-transition: opacity 1.6s;
  -moz-transition-delay: 0.6s;
  -o-transition: opacity 1.6s;
  -o-transition-delay: 0.6s;
  transition: opacity 1.6s;
  transition-delay: 0.6s;
}
@media (max-width: 1024px) {
  body.mobile section#home .more {
    top: 90px;
    left: 9%;
    width: 280px;
  }
}
@media (max-width: 768px) {
  body.mobile section#home .more {
    width: 36%;
    top: 100px;
    left: 4%;
  }
}
@media (max-width: 480px) {
  body.mobile section#home .more {
    top: 78px;
    left: 4%;
    width: 42%;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#home .more {
    top: 150px;
    left: 5%;
    width: 330px;
  }
}
body.mobile section#home .more a.link {
  float: right;
  margin-top: 5px;
}
body.mobile section#home .title {
  width: 370px;
  height: auto;
  max-width: 100%;
}
@media (max-width: 768px) {
  body.mobile section#home .title {
    width: 290px;
  }
}
body.mobile section#home .tronconneuse {
  -webkit-animation: shake;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  position: absolute;
  bottom: 300px;
  left: 11%;
  width: 15%;
}
@media (max-width: 1024px) {
  body.mobile section#home .tronconneuse {
    bottom: 220px;
    left: 12%;
    width: 14%;
  }
}
@media (max-width: 768px) {
  body.mobile section#home .tronconneuse {
    bottom: 420px;
    left: 50px;
    width: 18%;
  }
}
@media (max-width: 480px) {
  body.mobile section#home .tronconneuse {
    bottom: 200px;
    width: 20%;
    left: 30px;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#home .tronconneuse {
    bottom: 360px;
    left: 8%;
    width: 24%;
  }
}
body.mobile section#home .bottom {
  background-position: 0px bottom;
  background-image: url(../img/home-bg.png);
  background-repeat: repeat-x;
  background-size: 1000px;
  height: 280px;
}
@media (max-width: 768px) {
  body.mobile section#home .bottom {
    background-position: -30px 0px;
    background-size: 1100px;
    height: 300px;
  }
}
@media (max-width: 480px) {
  body.mobile section#home .bottom {
    background-position: -14px 0px;
    background-size: 570px;
    height: 150px;
  }
}
body.mobile.viewing-page-1 section#home .more {
  opacity: 1;
}
/* scene 2 + animations */
body.mobile section#story {
  background-position: 160% 0%;
  background-color: black;
  background-image: url(../img/story-bouche-small.png);
  background-repeat: no-repeat;
  background-size: auto 103%;
  height: 100%;
}
@media (max-width: 768px) {
  body.mobile section#story {
    background-position: 80px 62%;
    background-size: auto 72%;
  }
}
@media (max-width: 480px) {
  body.mobile section#story {
    background-image: url(../img/story-bouche-small.png);
    background-position: 46% 220%;
    background-size: auto 90%;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#story {
    background-position: 20% 0%;
  }
}
body.mobile section#story .more {
  width: 296px;
  bottom: 296px;
  z-index: 2;
  left: 14%;
  opacity: 0;
  -webkit-transition: opacity 1.6s;
  -webkit-transition-delay: 0.6s;
  -moz-transition: opacity 1.6s;
  -moz-transition-delay: 0.6s;
  -o-transition: opacity 1.6s;
  -o-transition-delay: 0.6s;
  transition: opacity 1.6s;
  transition-delay: 0.6s;
}
@media (max-width: 768px) {
  body.mobile section#story .more {
    width: 36%;
    bottom: 226px;
    left: 3%;
  }
}
@media (max-width: 480px) {
  body.mobile section#story .more {
    width: 42%;
    top: 116px;
    left: 43%;
  }
}
@media (max-width: 380px) {
  body.mobile section#story .more {
    top: 86px;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#story .more {
    width: 330px;
    bottom: 130px;
    left: 12%;
  }
}
body.mobile section#story .more a.link {
  float: right;
  margin-top: 12px;
}
body.mobile section#story .title {
  width: 340px;
  height: auto;
  max-width: 100%;
}
@media (max-width: 768px) {
  body.mobile section#story .title {
    width: 270px;
  }
}
body.mobile section#story .trees {
  position: absolute;
  left: 5%;
  top: 500px;
  -webkit-transition-property: top;
  -webkit-transition-duration: 2.5s;
  width: 17%;
}
@media (max-width: 768px) {
  body.mobile section#story .trees {
    left: 3%;
    top: 500px;
    width: 34%;
  }
}
@media (max-width: 480px) {
  body.mobile section#story .trees {
    width: 38%;
    left: -5%;
    transform: rotate(10deg);
  }
}
body.mobile.viewing-page-2 section#story .more {
  opacity: 1;
}
body.mobile.viewing-page-2 section#story .trees {
  top: 16%;
}
@media (max-width: 768px) {
  body.mobile.viewing-page-2 section#story .trees {
    top: 18%;
  }
}
/* scene 3 + animations */
body.mobile section#branding {
  background-position: 50% 0%;
  background-color: black;
  background-image: url(../img/branding-fox.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 100%;
}
@media (max-width: 768px) {
  body.mobile section#branding {
    background-position: 40% bottom;
    background-image: url(../img/branding-fox.png);
    background-size: auto 100%;
  }
}
@media (max-width: 480px) {
  body.mobile section#branding {
    background-position: 40% 0%;
    background-size: auto 99%;
  }
}
body.mobile section#branding .more {
  width: 320px;
  top: 80px;
  left: 35%;
  z-index: 22;
  opacity: 0;
  -webkit-transition: opacity 1.6s;
  -webkit-transition-delay: 0.6s;
  -moz-transition: opacity 1.6s;
  -moz-transition-delay: 0.6s;
  -o-transition: opacity 1.6s;
  -o-transition-delay: 0.6s;
  transition: opacity 1.6s;
  transition-delay: 0.6s;
}
@media (max-width: 1024px) {
  body.mobile section#branding .more {
    width: 264px;
    top: 32px;
  }
}
@media (max-width: 768px) {
  body.mobile section#branding .more {
    width: 44%;
    top: 38.3%;
    left: 31%;
  }
}
@media (max-width: 480px) {
  body.mobile section#branding .more {
    top: 38.3%;
    left: 31%;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#branding .more {
    width: 320px;
    top: 38.3%;
  }
}
body.mobile section#branding .more a.link {
  margin-top: 10px;
  float: right;
}
@media (max-width: 768px) {
  body.mobile section#branding .more a.link {
    margin-top: 0px;
  }
}
@media (max-width: 480px) {
  body.mobile section#branding .more a.link {
    margin-top: 2px;
    margin-right: 15px;
  }
}
body.mobile section#branding .title {
  width: 350px;
  height: auto;
  max-width: 100%;
}
body.mobile section#branding .planets {
  position: absolute;
  z-index: 4;
  left: 4%;
  top: -500px;
  width: 88%;
  transform: rotate(0deg);
  -webkit-transition-property: top;
  -webkit-transition-duration: 2.5s;
}
@media (max-width: 768px) {
  body.mobile section#branding .planets {
    left: 0%;
    width: 102%;
    transform: rotate(-8deg);
  }
}
@media (max-width: 480px) {
  body.mobile section#branding .planets {
    width: 184%;
    left: -8%;
    transform: rotate(-4deg);
  }
}
body.mobile section#branding .bottom {
  background-position: -120px -140px;
  background-image: url(../img/branding-bg.png);
  background-size: 1166px;
  height: 190px;
}
@media (max-width: 480px) {
  body.mobile section#branding .bottom {
    background-position: -148px -140px;
    background-size: 930px;
    height: 130px;
  }
}
body.mobile.viewing-page-3 section#branding .more {
  opacity: 1;
}
body.mobile.viewing-page-3 section#branding .planets {
  top: 35%;
}
@media (max-width: 480px) {
  body.mobile.viewing-page-3 section#branding .planets {
    top: 22%;
  }
}
/* scene 4 + animations */
body.mobile section#spirit {
  background-position: 0 bottom;
  background-image: url(../img/spirit-ring-small.png);
  background-repeat: no-repeat;
  background-size: auto 118%;
  height: 100%;
}
@media (max-width: 768px) {
  body.mobile section#spirit {
    background-position: 66% bottom;
    background-size: auto 106%;
  }
}
@media (max-width: 480px) {
  body.mobile section#spirit {
    background-position: 63% bottom;
    background-size: auto 88%;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#spirit {
    background-position: -520px bottom;
    background-size: auto 98%;
  }
}
body.mobile section#spirit .top {
  background-position: 6% top;
  background-image: url(../img/spirit-nuage-top.png);
  background-repeat: no-repeat;
  background-size: 1200px;
  height: 165px;
}
@media (max-width: 480px) {
  body.mobile section#spirit .top {
    background-position: 24% top;
  }
}
body.mobile section#spirit .more {
  top: 27px;
  left: 1%;
  width: 26%;
  opacity: 0;
  -webkit-transition: opacity 1.6s;
  -webkit-transition-delay: 0.6s;
  -moz-transition: opacity 1.6s;
  -moz-transition-delay: 0.6s;
  -o-transition: opacity 1.6s;
  -o-transition-delay: 0.6s;
  transition: opacity 1.6s;
  transition-delay: 0.6s;
}
@media (max-width: 1024px) {
  body.mobile section#spirit .more {
    top: 97px;
    left: 60%;
    width: 29%;
  }
}
@media (max-width: 768px) {
  body.mobile section#spirit .more {
    top: 97px;
    left: 63%;
    width: 36%;
  }
}
@media (max-width: 480px) {
  body.mobile section#spirit .more {
    top: 27px;
    left: 1%;
    width: 50%;
  }
}
@media (max-width: 340px) {
  body.mobile section#spirit .more {
    top: 27px;
    width: 48%;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#spirit .more {
    top: 97px;
    left: 60%;
    width: 38%;
  }
}
body.mobile section#spirit .more a.link {
  position: absolute;
  top: 230px;
  right: 0;
}
@media (max-width: 1024px) {
  body.mobile section#spirit .more a.link {
    top: 185px;
  }
}
@media (max-width: 480px) {
  body.mobile section#spirit .more a.link {
    top: 120px;
  }
}
@media (max-width: 340px) {
  body.mobile section#spirit .more a.link {
    top: 100px;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#spirit .more a.link {
    top: 245px;
  }
}
body.mobile section#spirit .title {
  position: absolute;
  width: 360px;
  height: auto;
  max-width: 100%;
  /*transform: rotate(5deg);*/
}
@media (max-width: 1024px) {
  body.mobile section#spirit .title {
    width: 300px;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#spirit .title {
    width: 380px;
  }
}
body.mobile section#spirit .nuages {
  position: absolute;
  left: 13%;
  top: -250px;
  -webkit-transition-property: top;
  -webkit-transition-duration: 1.5s;
  width: 35%;
}
@media (max-width: 768px) {
  body.mobile section#spirit .nuages {
    left: 13%;
    width: 41%;
  }
}
@media (max-width: 480px) {
  body.mobile section#spirit .nuages {
    display: none;
  }
}
body.mobile section#spirit .bottom {
  background-position: -150px bottom;
  background-image: url(../img/spirit-bg.png);
  background-repeat: no-repeat;
  background-size: 1180px;
  height: 210px;
}
body.mobile.viewing-page-4 section#spirit .more {
  opacity: 1;
}
body.mobile.viewing-page-4 section#spirit .nuages {
  top: 18%;
}
@media (max-width: 768px) {
  body.mobile.viewing-page-4 section#spirit .nuages {
    top: 10%;
  }
}
@media (max-width: 480px) {
  body.mobile.viewing-page-4 section#spirit .nuages {
    top: 5%;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile.viewing-page-4 section#spirit .nuages {
    top: 10%;
  }
}
/* scene 5 + animations */
body.mobile section#xtnd {
  background-position: 0 top;
  background-color: black;
  background-image: url(../img/xtnd-animals.png);
  background-repeat: no-repeat;
  background-size: auto 118%;
  height: 100%;
}
@media (max-width: 768px) {
  body.mobile section#xtnd {
    background-position: 66% top;
    background-size: auto 106%;
  }
}
@media (max-width: 480px) {
  body.mobile section#xtnd {
    background-position: 63% top;
    background-size: auto 88%;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#xtnd {
    background-position: -520px top;
    background-size: auto 98%;
  }
}
body.mobile section#xtnd .more {
  bottom: 480px;
  right: 64%;
  width: 28%;
  -webkit-transition: opacity 1.6s;
  -webkit-transition-delay: 0.6s;
  -moz-transition: opacity 1.6s;
  -moz-transition-delay: 0.6s;
  -o-transition: opacity 1.6s;
  -o-transition-delay: 0.6s;
  transition: opacity 1.6s;
  transition-delay: 0.6s;
}
@media (max-width: 1024px) {
  body.mobile section#xtnd .more {
    bottom: 290px;
    right: 63%;
    width: 32%;
  }
}
@media (max-width: 768px) {
  body.mobile section#xtnd .more {
    bottom: 40px;
    right: 6%;
    width: 40%;
    opacity: 0;
  }
}
@media (max-width: 480px) {
  body.mobile section#xtnd .more {
    width: 50%;
    right: 2%;
    bottom: 55px;
  }
}
@media (max-width: 380px) {
  body.mobile section#xtnd .more {
    bottom: 55px;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#xtnd .more {
    bottom: 110px;
    right: 12%;
    width: 38%;
  }
}
body.mobile section#xtnd .more a.link {
  float: right;
  margin-top: 10px;
}
body.mobile section#xtnd .more a.link span.xtnd {
  line-height: 16px;
}
@media (max-width: 480px) {
  body.mobile section#xtnd .more a.link {
    margin-right: 15px;
  }
}
body.mobile section#xtnd .title {
  width: 390px;
  height: auto;
  max-width: 100%;
}
@media (max-width: 1024px) {
  body.mobile section#xtnd .title {
    width: 340px;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#xtnd .title {
    width: 400px;
  }
}
body.mobile section#xtnd .tools {
  position: absolute;
  left: 7%;
  top: 900px;
  -webkit-transition-property: top;
  -webkit-transition-duration: 2.5s;
  width: 29%;
}
@media (max-width: 768px) {
  body.mobile section#xtnd .tools {
    left: 2%;
    width: 40%;
  }
}
@media (max-width: 480px) {
  body.mobile section#xtnd .tools {
    width: 60%;
    top: 600px;
    left: -10%;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#xtnd .tools {
    top: 600px;
    width: 37%;
    left: 5%;
  }
}
body.mobile.viewing-page-5 section#xtnd .more {
  opacity: 1;
}
body.mobile.viewing-page-5 section#xtnd .tools {
  top: 40%;
}
@media (max-width: 768px) {
  body.mobile.viewing-page-5 section#xtnd .tools {
    top: 40%;
  }
}
@media (max-width: 480px) {
  body.mobile.viewing-page-5 section#xtnd .tools {
    top: 40%;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile.viewing-page-5 section#xtnd .tools {
    top: 40%;
  }
}
/* scene 6 + animations */
body.mobile section#method {
  background-position: 60% 78%;
  background-image: url(../img/method-soundmachine.png);
  background-repeat: no-repeat;
  background-size: auto 106%;
  height: 100%;
}
@media (max-width: 768px) {
  body.mobile section#method {
    background-position: 12% 44%;
    background-size: auto 90%;
  }
}
@media (max-width: 480px) {
  body.mobile section#method {
    background-position: 29% 44%;
    background-size: auto 78%;
  }
}
body.mobile section#method .top {
  background-position: -36px -20px;
  background-image: url(../img/method-top.png);
  background-repeat: repeat-x;
  background-size: 1160px;
  height: 200px;
  z-index: 28;
}
@media (max-width: 768px) {
  body.mobile section#method .top {
    background-position: -36px 0px;
  }
}
@media (max-width: 480px) {
  body.mobile section#method .top {
    background-position: -143px 0px;
    background-size: 880px;
  }
}
body.mobile section#method .more {
  width: 30%;
  right: 22%;
  top: -150px;
  -webkit-transition-property: top;
  -webkit-transition-duration: 2.5s;
}
@media (max-width: 768px) {
  body.mobile section#method .more {
    width: 41%;
    right: 2%;
  }
}
@media (max-width: 480px) {
  body.mobile section#method .more {
    width: 46%;
  }
}
@media (max-width: 380px) {
  body.mobile section#method .more {
    bottom: 30px;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#method .more {
    width: 46%;
    right: 9%;
  }
}
body.mobile section#method .more a.link {
  float: right;
  margin-right: 170px;
}
@media (max-width: 480px) {
  body.mobile section#method .more a.link {
    margin-right: 25px;
    margin-top: -19px;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#method .more a.link {
    margin-right: 150px;
  }
}
body.mobile section#method .title {
  width: 320px;
  height: auto;
  max-width: 100%;
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#method .title {
    width: 420px;
  }
}
body.mobile section#method .bottom {
  background-position: 40% bottom;
  background-image: url(../img/method-bottom.png);
  background-repeat: repeat-x;
  background-size: 1064px;
  height: 190px;
}
body.mobile.viewing-page-6 section#method .more {
  opacity: 1;
  top: 30%;
}
@media (max-width: 1024px) {
  body.mobile.viewing-page-6 section#method .more {
    top: 26%;
  }
}
@media (max-width: 768px) {
  body.mobile.viewing-page-6 section#method .more {
    top: 32%;
  }
}
/* scene 7 + animations */
body.mobile section#works {
  background-position: 32% 26%;
  background-color: black;
  background-image: url(../img/works-alien.png);
  background-repeat: no-repeat;
  background-size: auto 107%;
  height: 100%;
}
@media (max-width: 768px) {
  body.mobile section#works {
    background-position: 40% 55%;
    background-size: auto 72%;
  }
}
@media (max-width: 480px) {
  body.mobile section#works {
    background-position: 30% 58%;
    background-size: auto 72%;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#works {
    background-position: 33% 57%;
    background-size: auto 92%;
  }
}
body.mobile section#works .top {
  background-position: 0px 0px;
  background-image: url(../img/works-lamp-top.png);
  background-repeat: no-repeat;
  /*background-size: 267px;*/
  height: 265px;
}
@media (max-width: 480px) {
  body.mobile section#works .top {
    background-position: 0px 0px;
    /*background-size: 120px;*/
    height: 200px;
  }
}
body.mobile section#works .more {
  width: 28%;
  left: 36%;
  top: -150px;
  -webkit-transition-property: top;
  -webkit-transition-duration: 2.5s;
}
@media (max-width: 768px) {
  body.mobile section#works .more {
    width: 41%;
    left: 32%;
  }
}
@media (max-width: 480px) {
  body.mobile section#works .more {
    left: 33%;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#works .more {
    width: 38%;
  }
}
body.mobile section#works .more a.link {
  float: left;
  margin-left: 30px;
  margin-top: -10px;
}
@media (max-width: 480px) {
  body.mobile section#works .more a.link {
    margin-top: 5px;
  }
}
body.mobile section#works .title {
  width: 300px;
  height: auto;
  max-width: 100%;
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#works .title {
    width: 380px;
  }
}
body.mobile section#works .bomb {
  display: none;
}
@media (max-width: 768px) {
  body.mobile section#works .bomb {
    display: block;
    position: absolute;
    left: 42%;
    bottom: -160px;
    -webkit-transition-property: bottom;
    -webkit-transition-duration: 2.5s;
    width: 270px;
  }
}
@media (max-width: 480px) {
  body.mobile section#works .bomb {
    left: 47%;
    width: 120px;
  }
}
body.mobile.viewing-page-7 section#works .more {
  opacity: 1;
  top: 28%;
}
@media (max-width: 480px) {
  body.mobile.viewing-page-7 section#works .more {
    top: 29%;
  }
}
body.mobile.viewing-page-7 section#works .bomb {
  bottom: 6%;
}
@media (max-width: 480px) {
  body.mobile.viewing-page-7 section#works .bomb {
    bottom: 8%;
  }
}
/* scene 8 + animations */
body.mobile section#people {
  background-position: 59% 60%;
  background-image: url(../img/people-wood.png);
  background-repeat: no-repeat;
  background-size: auto 115%;
  height: 100%;
}
@media (max-width: 768px) {
  body.mobile section#people {
    background-position: 59% 360%;
    background-size: auto 99%;
  }
}
@media (max-width: 480px) {
  body.mobile section#people {
    background-position: 63% 170%;
    background-size: auto 94%;
  }
}
body.mobile section#people .top {
  background-position: 0 top;
  background-image: url(../img/people-top.png);
  background-repeat: repeat-x;
  background-size: 1280px;
  height: 150px;
  z-index: 27;
}
@media (max-width: 480px) {
  body.mobile section#people .top {
    background-position: -210px top;
    background-size: 1800px;
    height: 220px;
  }
}
body.mobile section#people .more {
  top: -150px;
  width: 190px;
  left: 45%;
  -webkit-transition-property: top;
  -webkit-transition-duration: 2.5s;
}
@media (max-width: 768px) {
  body.mobile section#people .more {
    width: 30%;
    left: 38%;
    top: -150px;
  }
}
@media (max-width: 480px) {
  body.mobile section#people .more {
    width: 32%;
    left: 31%;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile section#people .more {
    width: 300px;
    left: 35%;
  }
}
body.mobile section#people .more a.link {
  float: left;
  margin-left: 16px;
  margin-top: 8px;
}
@media (max-width: 480px) {
  body.mobile section#people .more a.link {
    margin-top: 5px;
    margin-left: 0px;
  }
}
body.mobile section#people .title {
  width: 300px;
  height: auto;
  max-width: 100%;
}
body.mobile.viewing-page-8 section#people .more {
  opacity: 1;
  top: 28%;
}
@media (max-width: 768px) {
  body.mobile.viewing-page-8 section#people .more {
    top: 36%;
  }
}
@media (max-width: 480px) {
  body.mobile.viewing-page-8 section#people .more {
    top: 40%;
  }
}
@media (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) {
  body.mobile.viewing-page-8 section#people .more {
    top: 32%;
  }
}
